apiVersion: kafka.strimzi.io/v1beta2
kind: KafkaNodePool
metadata:
  name: default
  namespace: kafka
  labels:
    strimzi.io/cluster: bgmock-kafka
spec:
  replicas: 1
  roles:
    - broker
    - controller
  storage:
    type: ephemeral
  resources:
    requests:
      memory: 1Gi
      cpu: 1
    limits:
      memory: 2Gi
      cpu: 2
---
apiVersion: kafka.strimzi.io/v1beta2
kind: Kafka
metadata:
  name: bgmock-kafka
  namespace: kafka
  annotations:
    strimzi.io/node-pools: enabled
    strimzi.io/kraft: enabled
spec:
  kafka:
    version: 4.0.0
    metadataVersion: "4.0"
    listeners:
      - name: plain
        port: 9092
        type: cluster-ip
        tls: false
    config:
      offsets.topic.replication.factor: 1
      transaction.state.log.replication.factor: 1
      default.replication.factor: 1
  entityOperator:
    topicOperator: {}
    userOperator: {}